version: '3.3'

services:
  netdata:
    image: netdata/netdata:v2.4.0
    hostname: "{{.Node.Hostname}}"
    ports:
      - 19999:19999
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      # - /:/host/root:ro,rslave
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    configs:
      - source: netdata_conf
        target: /etc/netdata/netdata.conf
    environment:
      - NETDATA_CLAIM_TOKEN=$NETDATA_CLAIM_TOKEN
      - NETDATA_CLAIM_URL=$NETDATA_CLAIM_URL
      - NETDATA_CLAIM_ROOMS=$NETDATA_CLAIM_ROOMS
    labels:
      co.elastic.logs/enabled: 'false'
    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.50'
          memory: 500m
      # placement:
      #   constraints: [node.labels.elk != true]

  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.8.3-alpine
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    deploy:
      placement:
        constraints:
          - "node.role == manager"
    #   labels:
    #     caddy: $DOMAIN_NAME, www.$DOMAIN_NAME
    #     caddy.respond: '"Hello World" 200'
    networks:
      - caddy

  # filebeat:
  #   image: elastic/filebeat:7.17.0
  #   restart: unless-stopped
  #   volumes:
  #     # - '/root/dockerized-server/docker-elk/filebeat.docker.yml:/usr/share/filebeat/filebeat.yml:ro'
  #     - '/var/lib/docker/containers:/var/lib/docker/containers:ro'
  #     - '/var/run/docker.sock:/var/run/docker.sock:ro'
  #   configs:
  #     - source: filebeat-config13
  #       target: /usr/share/filebeat/filebeat.yml
  #   labels:
  #     co.elastic.logs/enabled: 'true'
  #   user: root
  #   deploy:
  #     mode: global
  #     # placement:
  #     #   constraints: [node.labels.codeserver != true]
  #   environment:
  #   - ELASTICSEARCH_USER=$ELASTICSEARCH_USER
  #   - ELASTICSEARCH_PASSWORD=$ELASTICSEARCH_PASSWORD
  #   - ELASTICSEARCH_URL=http://elasticsearch:9200
  #   - KIBANA_URL=http://kibana:5601
  #   networks:
  #     - elknet
  #     - elk_elk

  filebeat-openobserve:
    image: elastic/filebeat:7.17.0
    restart: unless-stopped
    volumes:
      # - '/root/dockerized-server/docker-elk/filebeat.docker.yml:/usr/share/filebeat/filebeat.yml:ro'
      - '/var/lib/docker/containers:/var/lib/docker/containers:ro'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    configs:
      - source: filebeat-config16
        target: /usr/share/filebeat/filebeat.yml
    labels:
      co.elastic.logs/enabled: 'true'
    user: root
    deploy:
      mode: global
      # placement:
      #   constraints: [node.labels.codeserver != true]
    environment:
    - OPENOBSERVE_USER=$OPENOBSERVE_USER
    - OPENOBSERVE_PASSWORD=$OPENOBSERVE_PASSWORD
    - OPENOBSERVE_PATH=$OPENOBSERVE_PATH
    networks:
      - elknet
      - elk_elk

  # promtail:
  #   image: grafana/promtail:2.9.0
  #   restart: unless-stopped
  #   volumes:
  #     - /var/lib/docker/containers:/var/lib/docker/containers:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #   configs:
  #     - source: promtail-config3
  #       target: /etc/promtail/config.yml
  #   command: 
  #     - -config.file=/etc/promtail/config.yml
  #     - -config.expand-env=true
  #   deploy:
  #     mode: global
  #   environment:
  #     - LOKI_URL=$LOKI_URL
  #     - LOKI_USERNAME=$LOKI_USERNAME
  #     - LOKI_PASSWORD=$LOKI_PASSWORD
  #   networks:
  #     - elknet # Or any other network that can reach your Loki instance

  # elk:
  #   image: sebp/elk:8.9.1
  #   ports:
  #     - "5601:5601"
  #   #   - "9200:9200"
  #   #   - "5044:5044"
  #   volumes:
  #     - elk_data:/var/lib/elasticsearch
  #   # configs:
  #   #   - source: elasticsearch_config
  #   #     target: /etc/elasticsearch/elasticsearch.yml
  #   deploy:
  #     placement:
  #       constraints:
  #           - node.labels.elk == true
  #     labels:
  #       caddy: kibana.$DOMAIN_NAME
  #       caddy.reverse_proxy: "{{upstreams 5601}}"
  #   environment:
  #     - ELASTICSEARCH_USER=$ELASTICSEARCH_USER
  #     - ELASTICSEARCH_PASSWORD=$ELASTICSEARCH_PASSWORD
  #     - LOGSTASH_USER=$LOGSTASH_USER
  #     - LOGSTASH_PASSWORD=$LOGSTASH_PASSWORD
  #     - KIBANA_USER=$KIBANA_USER
  #     - KIBANA_PASSWORD=$KIBANA_PASSWORD
  #     - LOGSTASH_START=0
  #     - XPACK_SECURITY_ENABLED=true
  #     - xpack.security.enabled=true
  #     - server.publicBaseUrl=kibana.$DOMAIN_NAME
  #     # - ES_JAVA_OPTS="-Xmx256m -Xms256m"
  #   networks:
  #     - caddy
  #     - elknet


volumes:
  caddy_data: {}
  # elk_data: {}
  netdataconfig:
  netdatalib:
  netdatacache:


networks:
  caddy:
    external: true
  elknet:
    external: true
  elk_elk:
    external: true

configs:
  netdata_conf:
    file: ./netdata/netdata.conf
  caddy-basic-content3:
    file: ./Caddyfile
    labels:
      caddy:
  filebeat-config13:
    file: ./docker-elk/filebeat.docker.yml
  filebeat-config16:
    file: ./docker-elk/filebeat-openobserve.docker.yml
  promtail-config3:
    file: ./docker-elk/promtail-config.yml
